/*------------------------------------*\
  #CTA
\*------------------------------------*/


/*------------------------------------*\
  .c-cta
\*------------------------------------*/

.c-cta {
  @include border-shadow(
    $border-color-opacity: .1,
    $box-shadow-opacity: .15
  );
  --cta-border-width: var(--button-border-width);
  --cta-padding-ver: calc((90px - (var(--font-size-alpha)) - 2*var(--cta-border-width)) / 2);
  --cta-padding-hor: calc(39px - var(--cta-border-width));
  border-width: var(--cta-border-width);
  background-color: rgba(var(--color-rgb), .15);
  font-size: var(--font-size-alpha);
  line-height: var(--font-size-alpha);
  text-transform: uppercase;
  padding: var(--cta-padding-ver) var(--cta-padding-hor);

  &.is-disabled,
  &:focus {
    background-color: transparent;
  }

  &:focus {
    --cta-border-width: 8px;
    background-color: transparent;
    outline: 0;
    border-color: var(--color-primary);
  }

  &.is-disabled {
    color: var(--color-secondary);
  }
}
