/*------------------------------------*\
  #ICON
\*------------------------------------*/

:root {
  --c-icon--color: 'currentColor';
  --c-icon--fill-color: currentColor;
  --c-icon--line-height: 1em;
  --c-icon--height: 1em;
  --c-icon--width: 1em;
  --c-icon--font-size: var(--font-size-alpha);
  --c-icon--display: inline-flex;
}


/*------------------------------------*\
  .c-icon
\*------------------------------------*/

.c-icon {
  @include transition((fill, color));
  font-size: var(--c-icon--font-size);
  width: var(--c-icon--width);
  height: var(--c-icon--height);
  line-height: var(--c-icon--line-height);
  color: var(--c-icon--color);
  fill: var(--c-icon--fill-color);
  display: var(--c-icon--display);
  align-items: center;
  justify-content: center;
}