/*------------------------------------*\
  #MARK
\*------------------------------------*/


/*------------------------------------*\
  .c-mark
\*------------------------------------*/

$mark_size: var(--font-size-alpha);
$mark_size_dot: 12px;

.c-mark {
  display: inline-flex;
  vertical-align: top;
  align-items: center;
  max-width: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
  outline: none;
  position: relative;
}


/*------------------------------------*\
  .c-mark__input
\*------------------------------------*/

.c-mark__input {
  @include visually_hidden;
}


/*------------------------------------*\
  .c-mark__input
\*------------------------------------*/

.c-mark__icon {
  @include border-shadow;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $mark_size;
  height: $mark_size;
  flex-shrink: 0;
}


/*------------------------------------*\
  .c-mark__icon,
  .c-mark__label
\*------------------------------------*/

.c-mark__icon,
.c-mark__label {
  cursor: pointer;
}

.c-mark__icon + .c-mark__label,
.c-mark__label + .c-mark__icon {
  margin-left: 13px;
}


/*------------------------------------*\
  .c-mark__label
\*------------------------------------*/

.c-mark__label {
  @include label;
  @include ellipsis;
}


/*------------------------------------*\
  .c-mark__icon--radio
\*------------------------------------*/

.c-mark__icon--radio {
  border-radius: 50%;

  &::before {
    @include transition(transform);
    background-color: var(--color-primary);
    border-radius: 50%;
    width: 0;
    height: 0;
    content: '';
    width: $mark_size_dot;
    height: $mark_size_dot;
    transform: scale(0);
    transform-origin: center;
  }
}


/*------------------------------------*\
  .c-mark__icon--checkbox
\*------------------------------------*/

.c-mark__icon--checkbox {
  @include transition(font-size);
  border-radius: 3px;
  font-size: 0;
}


/*------------------------------------*\
  .c-mark__input:focus .c-mark__icon--checkbox
  .c-mark__input:focus .c-mark__icon--radio
\*------------------------------------*/

.c-mark__input:focus ~ .c-mark__icon {
  @include border-shadow-raised;
}


/*------------------------------------*\
  .c-mark__input:checked .c-mark__icon--checkbox
  .c-mark__input:checked .c-mark__icon--radio
\*------------------------------------*/

.c-mark__input:checked ~ .c-mark__icon {
  &--radio {
    &::before {
      transform: scale(1);
    }
  }

  &--checkbox {
    font-size: $mark_size;
  }
}


/*------------------------------------*\
  .c-mark__input:disabled .c-mark__icon
  .c-mark__input:disabled .c-mark__label
\*------------------------------------*/

.c-mark__input:disabled {
  ~ .c-mark__icon,
  ~ .c-mark__label {
    pointer-events: none;
  }
}


/*------------------------------------*\
  .c-mark__input:disabled:checked .c-mark__icon--checkbox
  .c-mark__input:disabled:checked .c-mark__icon--radio
\*------------------------------------*/

.c-mark__input:disabled:checked {
  ~ .c-mark__icon {
    &--radio::before {
      background-color: var(--color-secondary);
    }

    &--checkbox {
      color: var(--color-secondary);
    }
  }
}