/*------------------------------------*\
  #TEXT FIELD
\*------------------------------------*/


/*------------------------------------*\
  .c-form-text-holder
\*------------------------------------*/

.c-form-text-holder {
  position: relative;
  padding-top: 22px; // to reserve room for label
  display: inline-block;
  width: 100%;
  display: block;
}


/*------------------------------------*\
  .c-form-text-label
\*------------------------------------*/

.c-form-text-label {
  @include label;
  position: absolute;
  left: 3px;
  top: 0;
}


/*------------------------------------*\
  .c-form-text
\*------------------------------------*/
.c-form-text {
  --c-form-text-color: 'currentColor';
  --c-icon--display: flex;
  @include border-shadow;
  color: var(--c-form-text-color);
  width: 100%;
  display: block;
  // default button styles reset
  text-align: left;

  &:focus {
    @include border-shadow-raised;
    outline: 0;
  }

  // Edge doesn't get it
  // can't be used in one scope with :focus=
  &:focus-within {
    @include border-shadow-raised;
  }

  &.is-disabled {
    --c-form-text-color: var(--color-secondary);
    --c-icon--color: var(--color-secondary);
  }
}


/*------------------------------------*\
  .c-form-text__content
\*------------------------------------*/

.c-form-text__content {
  height: 76px;
  padding: 0 12px 0 20px;
  display: flex;
  align-items: center;
}


/*------------------------------------*\
  .c-form-text__input
\*------------------------------------*/

.c-form-text__input {
  @include ellipsis;
  flex-grow: 1;
  font-size: var(--font-size-beta);
  line-height: var(--font-size-alpha); // just like icon size
  color: currentColor;
  // default input styles reset
  text-transform: uppercase;
  border: 0;
  outline: 0;
  background-color: transparent;
  min-width: initial;

  &::placeholder{
    color: currentColor;
    opacity: 1; // FF
  }

  &::-ms-input-placeholder {
    color: currentColor; // Edge
  }

  .c-icon + & {
    margin-left: 6px;
  }

  &::-ms-clear {
    display:none; // Edge
  }
}