/*------------------------------------*\
  #APP
\*------------------------------------*/

.t-app-holder {
  background-position: top center, bottom center;
  background-image: url('assets/bg-top.png'), url('assets/bg-bottom.png');
  background-repeat: no-repeat;
  position: relative;
  min-height: 100vh;

  &:before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: -1;
  }
}

.t-app {
  padding: 84px 20px 184px;
}

.t-app-form__header,
.t-app-form__footer {
  text-align: center;
}

.t-app-form-subheadline {
  padding-top: 47px;
  padding-bottom: 40px;
}

.t-app-form__gender {
  align-self: end;
  padding-left: 30px;

  & >:first-child {
    padding-bottom: 12px;
  }
}

.t-app-form__footer {
  padding-top: 47px;
}

.t-app-form__cta {
  margin-bottom: 25px;
}

@media (min-width: map-get($breakpoints, phone)) {
  .t-app {
    padding: 84px 60px 184px;
  }
}

@media (max-width: map-get($breakpoints, tablet)) {
  // assigned to .c-cta
  .t-app-form__cta {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}


@media (min-width: map-get($breakpoints, tablet)) {
  .t-app-holder {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .t-app {
    @include border-shadow($is-interactive: false);
    margin: 25px 0;
    padding: 51px 100px 53px;
    max-width: 1318px;
  }

  .t-app-form-subheadline {
    padding-top: 41px;
    padding-bottom: 72px;
  }

  .t-app-form__content {
    & >:first-child {
      padding-right: 20px;
    }

    & >:last-child {
      padding-left: 20px;
      padding-right: 0;
    }
  }
}

@media (min-width: map-get($breakpoints, desktop)) {
  .t-app-form-headline {
    font-size: 60px;
  }

  .t-app-form-subheadline {
    padding-top: 32px;
    padding-bottom: 55px;
  }

  .t-app-form__footer {
    padding-top: 58px;
  }
}