/*------------------------------------*\
  #MIXINS
\*------------------------------------*/

@mixin transition (
  $properties: all,
  $duration: var(--transition_duration),
  $timing_function: var(--transition_timing_function)
) {
  transition-property: $properties;
  transition-duration: $duration;
  transition-timing-function: $timing_function;
}

//
@mixin visually_hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

//
@mixin label {
  font-size: var(--font-size-delta);
  color: var(--color-secondary);
  text-transform: uppercase;
  line-height: 1;
  white-space: nowrap; // in case label is wider than its parent
}

//
@mixin border-shadow (
  $border-color-opacity: .2,
  $box-shadow-opacity: .24,
  $is-interactive: true
) {
  --border-color-opacity: #{$border-color-opacity};
  --border-color: rgba(var(--border-color-rgb), var(--border-color-opacity));
  border: var(--button-border-width) solid var(--border-color);
  --box-shadow-opacity: #{$box-shadow-opacity};
  --box-shadow: 0 0 30px 0 rgba(var(--box-shadow-color-rgb), var(--box-shadow-opacity));
  box-shadow: var(--box-shadow);
  background-color: rgba(var(--background-color-rgb), .55);

  @if $is-interactive {
    @include transition((box-shadow, border-color, background-color));

    &.is-error {
      --border-color-opacity: .5;
      --border-color-rgb: 252, 13, 27;
    }

    &.is-disabled {
      --border-color-rgb: 210, 210, 210;
      --box-shadow: none;
    }
  }
}

//
@mixin border-shadow-raised {
  --opacity: .34;
  --border-color-opacity: var(--opacity);
  --box-shadow-opacity: var(--opacity);
}

//
@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}