$c_form_lid_vertical_size: 14px;

:root {
  --c-form-content--min-height: #{$spacing_unit_primary * 4};
  --c-form-lid-element--background-color: #{$color_mrwhite};
}

/*------------------------------------*\
  .c-form
\*------------------------------------*/

.c-form {
  display: inline-block; // assigned to custom tag
  width: 100%;
  text-align: left; // when assigned to button

  &.is-disabled {
    color: $color_goodman;
  }
}

.c-form--large {
  --c-form-content--min-height: #{$spacing_unit_primary * 5};
}

.c-form--unit {
  --c-form-input--text-align: right;
  width: $spacing_unit_primary * 9;
}


/*------------------------------------*\
  .c-form__lid
\*------------------------------------*/

.c-form__lid {
  font-size: $font_size_tertiary;
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - #{$spacing_unit_primary * 2});
  line-height: 14px;
  min-height: 14px;
  transform: translate($spacing_unit_primary, $spacing_unit_primary/2 + $border_width_primary);
  margin-top: -$c_form_lid_vertical_size;
}

.c-form__lid--right {
  justify-content: flex-end;
}

.c-form__lid--bottom {
  transform: translate($spacing_unit_primary, -$spacing_unit_primary/2 - $border_width_primary);
  margin-top: auto;
  margin-bottom: -$c_form_lid_vertical_size;
}


/*------------------------------------*\
  .c-form__label
\*------------------------------------*/

@mixin lid_element {
  @include ellipsis($display: null);
  padding-right: $spacing_unit_primary / 4;
  padding-left: $spacing_unit_primary / 4;
  background-color: var(--c-form-lid-element--background-color);

  .c-form.is-disabled & {
    color: inherit;
  }
}

.c-form__label {
  @include lid_element;
  font-weight: $font_weight_semi_bold;
}


/*------------------------------------*\
  .c-form__hint
\*------------------------------------*/

.c-form__hint {
  @include lid_element;
  color: $color_gustavo;

  &:before {
    content: '(';
  }

  &:after {
    content: ')';
  }
}


/*------------------------------------*\
  .c-form__error
\*------------------------------------*/

.c-form__error {
  @include lid_element;
  color: $color_danger;
  font-weight: $font_weight_semi_bold;

  &:before {
    content: '(';
  }

  &:after {
    content: ')';
  }
}


/*------------------------------------*\
  .c-form__content
\*------------------------------------*/

.c-form__content {
  display: flex;
  align-items: center;
  gap: $spacing_unit_primary;
  padding: 0 10px;
  min-height: var(--c-form-content--min-height);
  border: $border_width_primary solid $color_hank;

  .c-form:hover & {
    border-color: $color_gustavo;
  }

  .c-form:focus-within & {
    border-color: $color_focus;
    outline: $border_width_primary solid $color_focus;
    outline-offset: -$border_width_secondary;
  }

  .c-form.has-error &,
  .c-form:hover.has-error &{
    border-color: $color_danger;
  }

  .c-form:focus-within.has-error & {
    outline-color: $color_danger;
  }

  .c-form.is-disabled & {
    border-color: $color_hermanos;
    color: inherit;
  }

  > *:not(.c-form__input) {
    flex-shrink: 0;
  }
}


/*------------------------------------*\
  .c-form__input
\*------------------------------------*/

.c-form__input {
  font-family: $font_family_primary;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0;
  border: 0;
  width: 100%;
  font-size: $font_size_tertiary;
  line-height: $font_size_primary;
  min-width: 0;
  outline: 0;
  text-align: var(--c-form-input--text-align);
  background-color: #0000;
  color: inherit;

  // type number
  &[type="number"] {
    -moz-appearance: textfield;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  // type search
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }

  .c-form.is-disabled &::placeholder {
    color: inherit;
  }

  &:not(.c-form__input--textarea) {
    @include ellipsis($display: null);
  }
}

.c-form__input--textarea {
  resize: vertical;
  min-height: $spacing_unit_primary * 8;
  margin-top: $spacing_unit_primary;
  margin-bottom: $spacing_unit_primary;
}

/*------------------------------------*\
  .c-form__unit
\*------------------------------------*/

.c-form__subtext {
  color: $color_gustavo;
  font-size: $font_size_tertiary;

  .c-form.is-disabled & {
    color: inherit;
  }
}
