@import '~@instapage/mrwhite/sass/toolkit';

:root {
  --l-table-row--display: grid;
  --l-table-cell--background-color: #{$color_mrwhite};
  --l-table-cell--vertical-padding: #{$spacing_unit_secondary};
  --l-table-cell--horizontal-padding: #{$spacing_unit_tertiary};
  --l-table-cell--equal-width: #{$spacing_unit_primary * 30};
  --l-table-cell--outline: var(--border-primary);
}

/*------------------------------------*\
  .l-table
\*------------------------------------*/

.l-table {
  display: grid; // overriding native table
}

// inner cell padding
.l-table--cell-primary {
  --l-table-cell--horizontal-padding: #{$spacing_unit_primary};
}

.l-table--cell-secondary {
  --l-table-cell--horizontal-padding: #{$spacing_unit_secondary};
}

.l-table--cell-quaternary {
  --l-table-cell--horizontal-padding: #{$spacing_unit_quaternary};
}

// horizontal scroll
.l-table--scroll-horizontal {
  overflow-y: hidden;
  height: 100%; //needed when collapsed so it stretches out

  // scroll
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-x: contain; // https://dev.to/danburzo/css-micro-tip-prevent-history-navigation-on-horizontally-scrolling-elements-3iil

  &::-webkit-scrollbar-track:horizontal {
    margin-left: $spacing_unit_primary;
    margin-right: $spacing_unit_primary;
  }

  &::-webkit-scrollbar:horizontal {
    height: $spacing_unit_secondary + $scrollbar_size;
    border-top: var(--border-primary);
  }

  // so the whole thumb is draggable though it still looks tiny
  &::-webkit-scrollbar-thumb:horizontal {
    background: linear-gradient(
        var(--ui-scrollbar--background-color) 0%,
        var(--ui-scrollbar--background-color) 100%
    );
    background-repeat: no-repeat;
    background-size: 100% $scrollbar_size;
    background-position-y: 65%;
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

// horizontal scroll hidden
.l-table--scroll-horizontal-hidden {
  overflow: hidden;
}


/*------------------------------------*\
  .l-table__row
\*------------------------------------*/

.l-table__row {
  --l-table-row--grid-template-columns: 1fr;
  --l-table-row--grid-auto-columns: 1fr;
  --l-table-row--min-height: auto;
  display: var(--l-table-row--display);
  grid-auto-flow: column;
  grid-template-columns: var(--l-table-row--grid-template-columns);
  grid-auto-columns: var(--l-table-row--grid-auto-columns);
  min-height: var(--l-table-row--min-height);
  outline: var(--l-table-row--outline);
}

// min height
.l-table__row--x-large {
  --l-table-cell--vertical-padding: 0;
  --l-table-row--min-height: #{$spacing_unit_primary * 13};
}

.l-table__row--large {
  --l-table-cell--vertical-padding: 0;
  --l-table-row--min-height: #{$spacing_unit_primary * 10};
}

.l-table__row--small {
  --l-table-cell--vertical-padding: 0;
  --l-table-row--min-height: #{$spacing_unit_primary * 8};
}

.l-table__row--x-small {
  --l-table-cell--vertical-padding: 0;
  --l-table-row--min-height: #{$spacing_unit_primary * 5};
}

// width
.l-table__row--cell-equal-width {
  --l-table-row--display: flex;
  --l-table-cell--flex-basis: var(--l-table-cell--equal-width);

  .l-table__cell {
    flex: 0 0 var(--l-table-cell--flex-basis);
  }

  .l-table__cell--collapsed {
    flex-basis: #{$spacing_unit_primary * 12};
  }
}

// description
.l-table__row--description {
  text-transform: uppercase;
  color: $color_gustavo;
  text-align: left;
}

// main header
.l-table__row--header {
  font-weight: $font_weight_bold;
  text-align: left;
}

// sticky
.l-table__row--sticky {
  position: sticky;
  top: 0;
  z-index: 2;
}

// outlined
.l-table__row--outlined {
  --l-table-row--outline: var(--border-primary);
  --l-table-cell--outline: 0;
  position: relative; // outline needs it
}


/*------------------------------------*\
  .l-table__cell
\*------------------------------------*/

.l-table__cell {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: var(--l-table-cell--vertical-padding) var(--l-table-cell--horizontal-padding);
  background-color: var(--l-table-cell--background-color);
  font-size: $font_size_tertiary;
  line-height: string_replace(#{$line_height_h6 / $font_size_tertiary}, 'px');
  min-width: 0;
  grid-column: var(--l-table-cell--grid-column);
  outline: var(--l-table-cell--outline);
  position: relative; // outline needs it
}

.l-table__cell--collapsed {
  --l-table-cell--background-color: #{$color_skyler};

  .u-table-hidden-when-cell-collapsed {
    display: none;
  }
}

// holder
.l-table__cell--holder {
  padding: 0;
}
