<div class="l-grid">
  <div class="l-grid__cell l-grid__cell--1/3--desk l-space-bottom-quaternary">
    <!-- #source -->
    <div class="c-form">
      <!-- lid -->
      <label for="name" class="c-form__lid">
        <span class="c-form__label">First Name</span>
        <span class="c-form__hint">Skip middle name</span>
      </label>
      <!--content-->
      <div class="c-form__content">
        <input
          type="text"
          id="name"
          name="name"
          class="c-form__input"
          value="John jpg."
        />
      </div>
      <!-- lid bottom -->
      <div class="c-form__lid c-form__lid--bottom c-form__lid--right"></div>
    </div>
    <!-- #sourceEnd -->
  </div>
  <div class="l-grid__cell l-grid__cell--1/3--desk l-space-bottom-quaternary">
    <!-- #source -->
    <div class="c-form has-error">
      <!-- lid -->
      <label for="name2" class="c-form__lid">
        <span class="c-form__label">First Name</span>
        <span class="c-form__hint">Skip middle name</span>
        <span class="c-form__error">Enter first name</span>
      </label>
      <!--content-->
      <div class="c-form__content">
        <input
          type="text"
          id="name2"
          name="name2"
          class="c-form__input"
        />
      </div>
      <!-- lid bottom -->
      <div class="c-form__lid c-form__lid--bottom c-form__lid--right"></div>
    </div>
    <!-- #sourceEnd -->
  </div>
  <div class="l-grid__cell l-grid__cell--1/3--desk l-space-bottom-quaternary">
    <!-- #source -->
    <div class="c-form is-disabled">
      <!-- lid -->
      <label for="named" class="c-form__lid">
        <span class="c-form__label">First Name</span>
        <span class="c-form__hint">Skip middle name</span>
      </label>
      <!--content-->
      <div class="c-form__content">
        <input
          type="text"
          id="named"
          name="named"
          class="c-form__input"
          value="John jpg."
          disabled
        />
      </div>
      <!-- lid bottom -->
      <div class="c-form__lid c-form__lid--bottom c-form__lid--right"></div>
    </div>
    <!-- #sourceEnd -->
  </div>
</div>
