/*------------------------------------*\
  #GRID
  simple grid

  without fallback for non grid browsers!
  didn't want to spend time on it as
  normally I would pick some more mature grid system

  just wanted to play a bit : ) and test an idea
  of creating boostrap like grid that is based on
  CSS Grid module
\*------------------------------------*/


/*------------------------------------*\
  .l-grid
\*------------------------------------*/

.l-grid {
  --grid-column-gap: 0;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-column-gap: var(--grid-column-gap);
  grid-row-gap: 23px;
}

// FF fix - https://stackoverflow.com/questions/43311943/prevent-content-from-expanding-grid-items/43312314
.l-grid__item {
  min-width: 0;
  grid-column: span 18;
}

// if bigger then phone breakpoint
@media (min-width: map-get($breakpoints, phone)) {
  .l-grid {
    --grid-column-gap: 20px;
  }

  @for $i from 2 through 17 {
    .l-grid__item\@\>phone--#{$i} {
      grid-column: span $i;
    }
  }
}

// if bigger then tablet breakpoint
@media (min-width: map-get($breakpoints, tablet)) {
  .l-grid {
    --grid-column-gap: 20px;
  }

  @for $i from 2 through 17 {
    .l-grid__item\@\>tablet--#{$i} {
      grid-column: span $i;
    }
  }
}
