/*------------------------------------*\
  #TYPOGRAPHY
\*------------------------------------*/

h1,
h2,
h3 {
  text-transform: uppercase;
  margin: 0;
}

h1 {
	font-size: var(--font-size-alpha);
}

h2 {
	font-size: var(--font-size-beta);
}

h3 {
	font-size: var(--font-size-gama);
}