/*------------------------------------*\
  #GLOBAL
\*------------------------------------*/

body {
  font-weight: 600;
  background-color: rgba(var(--background-color-rgb), 1);
  color: var(--color-primary);
}

button {
  // default button styles reset
  background-color: transparent;
  padding: 0;
  margin: 0;
  color: inherit;
  border: 0;
  cursor: var(--button-cursor);

  &:disabled {
    --button-cursor: defualt;
  }
}

body,
button,
input {
  font-family: 'Montserrat', sans-serif;
}