/*------------------------------------*\
  #RESET
\*------------------------------------*/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@import 'node_modules/normalize-scss/sass/normalize';

body {
  margin: 0;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

input:invalid {
  box-shadow: none; // FF
}