/*------------------------------------*\
  #UTILITY
\*------------------------------------*/

.u-show-on-tablet-up {
  display: none !important;
}

@media (min-width: map-get($breakpoints, tablet)) {
  .u-show-on-tablet-up {
    display: unset !important;
  }

  .u-hide-on-tablet-up {
    display: none !important;
  }
}