/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/

$breakpoints: (
  'phone': 40em, // 640px
  'tablet': 64em, // 1024px
  'desktop': 95em // 1522px
) !default;

:root {
  --background-color-rgb: 0, 0, 0;
  --color-rgb: 255, 255, 255;
  --border-color-rgb: 178, 255, 190;
  --box-shadow-color-rgb: 148, 255, 164;

  --color-primary: rgba(var(--color-rgb), 1);
  --color-secondary: rgba(var(--color-rgb), .6);

  --transition_duration: .15s;
  --transition_timing_function: ease-in-out;

  --button-cursor: pointer;
  --button-border-width: 2px;

  --font-size-alpha: 36px;
  --font-size-beta: 24px;
  --font-size-gama: 18px;
  --font-size-delta: 14px;
}